
@font-face{
    font-family: 'c'; 
    src: url('fonts/font_formulario_3.TTF');
}

#tam{
    margin-top: 200px;
}


#boton{
    font-family: 'c';
    font-size: 25px;
    border: solid 3px;
    border-color: blueviolet;
    background-color: rgb(54, 218, 82);
    opacity: 0.8;
}
#nombre{
height: 40px;
border: solid 3px;
border-color:tomato;
opacity: 0.8;
color: black;
font-weight: bold;
}

#nit{
    height: 40px;
    border: solid 3px;
    border-color:tomato;
    opacity: 0.8;
    color: black;
    font-weight: bold;
}
#telefono{
    margin-top: 20px;
    height: 40px;
    border: solid 3px;
    border-color:tomato;
    opacity: 0.8;
    color: black;
    font-weight: bold;
}
#direccion{
    margin-top: 20px;
    height: 40px;
    border: solid 3px;
    border-color:tomato;
    opacity: 0.8;
    color: black;
    font-weight: bold;
}
#correo{
    margin-top: 20px;
    height: 40px;
    border: solid 3px;
    border-color:tomato;
    opacity: 0.8;
    color: black;
    font-weight: bold;
}
#pagina{
    margin-top: 20px;
    height: 40px;
    border: solid 3px;
    border-color:tomato;
    opacity: 0.8;
    color: black;
    font-weight: bold;
}