@font-face{
    font-family: 'd'; 
    src: url('fonts/font_formulario_4.TTF');
}

.lbl{
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'd';
}
#p{
    font-family: 'd';
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    height: 40px;
    margin-bottom: 10px;
    background-color:floralwhite;
    
}
#Registraranimal{
    font-family: 'd';
    font-size: 25px;
    margin-top: 10px;
    border-radius: 15px;
    border: solid 2px;
    border-color: magenta;
    background-color:fuchsia;
}

#nombre{
height: 40px;
border-radius: 15px;
border: solid 2px;
border-color: magenta;
background-color:thistle;
color:crimson; 

}
#identificador{
    height: 40px;
    border-radius: 15px;
    border: solid 2px;
    border-color: magenta;
    background-color:thistle;
    color:crimson; 
}

#color{
    height: 40px;
    border-radius: 15px;
    border: solid 2px;
    border-color: magenta;
    background-color:thistle;
    color:crimson; 
}

#codigozona{
    height: 40px;
    border-radius: 15px;
    border: solid 2px;
    border-color: magenta;
    background-color:thistle;
    color:crimson;
}

#peso{
    height: 40px;
    border-radius: 15px;
    border: solid 2px;
    border-color: magenta;
    background-color:thistle;
    color:crimson;
}
#alimentacion{
    height: 40px;
    border-radius: 15px;
    border: solid 2px;
    border-color: magenta;
    background-color:thistle;
    color:crimson;
}

#ANIMAL{
    background-color:thistle;
    color:crimson;
}

#edad{
    height: 40px;
    border-radius: 15px;
    border: solid 2px;
    border-color: magenta;
    background-color:thistle;
    color:crimson;
}

#idabuscar{
    border-color: magenta;
    background-color:thistle;
    color:crimson;
}