@font-face {
    font-family: 'a'; 
    src: url('fonts/font_formulario_1.fon');
}

.lbl{
    font-size: 30px;
    margin-bottom: 13px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'b';
    color:darkturquoise;
}

p{
    font-family: 'a';
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: chocolate;
    color: darkturquoise;
    
}
#nombres{
    height: 40px;
border: solid 3px;
border-color:dimgray;
opacity: 0.8;
color:mediumblue;
font-weight: bold;
background-color: dimgray;
}

#celular{    
height: 40px;
border: solid 3px;
border-color:dimgray;
opacity: 0.8;
color:mediumblue;
font-weight: bold;
background-color: dimgray;
}

#cedula{
    height: 40px;
    border: solid 3px;
    border-color:dimgray;
    opacity: 0.8;
    color:mediumblue;
    font-weight: bold;
    background-color: dimgray;    
}

#correo{
    height: 40px;
    border: solid 3px;
    border-color:dimgray;
    opacity: 0.8;
    color:mediumblue;
    font-weight: bold;
    background-color: gold;     
}

#direccion{
    height: 40px;
    border: solid 3px;
    border-color:dimgray;
    opacity: 0.8;
    color:mediumblue;
    font-weight: bold;
    background-color: dimgray;     
}

#ENCARGADOSS{
    color:blue;
    font-weight: bold;
    background-color: tomato;    
}

#codigozona{
    height: 40px;
    border: solid 3px;
    border-color:dimgray;
    opacity: 0.8;
    color:mediumblue;
    font-weight: bold;
    background-color: dimgray;     
}

#codigoeliminar{
    height: 40px;
    border: solid 3px;
    border-color:dimgray;
    opacity: 0.8;
    color:mediumblue;
    font-weight: bold;
    background-color: gold;        
}

.lbl{
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'a';
}
#boton{
    font-weight: bold;
    font-family: 'a';
}
