@font-face{
    font-family: e; 
    src: url(fonts/font_formulario_1.TTF);
}

.lbl{
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 15px;
    font-family: e;
    color: mediumblue;
}
#p{
    font-family: e;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    height: 50px;
    margin-bottom: 40px;
    background-color:darkturquoise;
    color: mediumblue;
}

#codigo{
 height: 40px;
border: solid 3px;
border-color:orangered;
opacity: 0.8;
color: rgb(224, 12, 12);
font-weight: bold;
}

#zonas{
    border: solid 3px;
    height: 40px;
    border-color:orangered;
    opacity: 0.8;
    color: rgb(224, 12, 12);
    font-weight: bold;
}
    
#precio{
border: solid 3px;
border-color:orangered;
opacity: 0.8;
color: rgb(224, 12, 12);
font-weight: bold;
height: 40px;
}

#descuento{
    border: solid 3px;
    height: 40px;
    border-color:orangered;
    opacity: 0.8;
    color: rgb(224, 12, 12);
    font-weight: bold;
}

#Registrarplan{
    border: solid 3px;
    height: 40px;
    border-color:rgb(248, 237, 233);
    opacity: 0.8;
    color: black;
    font-weight: bold;
}
#boton{
    font-family: e;
    font-size: 25px;
}