@font-face{
    font-family: 'b'; 
    src: url('fonts/font_formulario_2.ttf');
}

.lbl{
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'b';
}
#p{
    font-family: 'b';
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    height: 40px;
    margin-bottom: 10px;
    background-color:lightgreen;
    
}
#boton{
    font-family: 'b';
    font-size: 25px;
}