@font-face{
    font-family: 'b'; 
    src: url('fonts/font_formulario_2.ttf');
}

.lbl{
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'b';
    color:blue;
}
#p{
    font-family: 'b';
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    height: 40px;
    margin-bottom: 10px;
    background-color:lightblue;
    height: 40px;
    border: solid 3px;
    border-color:tomato;
    opacity: 0.8;
    color: black;
    font-weight: bold;
}

#zona{
    height: 40px;
    border: solid 5px;
    border-color:cyan;
    opacity: 0.8;
    color:midnightblue;
    font-weight: bold;
    background-color:azure; 
}

 #idplan{
    height: 40px;
    border: solid 5px;
    border-color:cyan;
    opacity: 0.8;
    color: midnightblue;
    font-weight: bold;
    background-color:azure;
 }   

 #cedvisitante{
    height: 40px;
    border: solid 5px;
    border-color:cyan;
    opacity: 0.8;
    color: midnightblue;
    font-weight: bold;
    background-color:azure;
 }

 #nots{
    height: 40px;
    border: solid 5px;
    border-color:cyan;
    opacity: 0.8;
    color: midnightblue;
    font-weight: bold;
    background-color:azure;
 }

 #Registrarvisiplan{
    height: 8s0px;
    border: solid 5px;
    border-color:tomato;
    color:black;
    background-color: azure;
 }

#boton{
    font-family: 'b';
    font-size: 25px;
}