@font-face{
    font-family: 'b'; 
    src: url('fonts/font_formulario_2.ttf');
}

.lbl{
    font-size: 28px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'b';
color:black;
}

#p{
    font-family: 'b';
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    height: 40px;
    margin-bottom: 10px;
    background-color:floralwhite;
}

#nombres{
 height: 40px;
border: solid 3px;
border-color: brown;
opacity: 0.8;
color: blue;
font-weight: bold;
background-color: burlywood;
}

#cedula{
height: 40px;
border: solid 3px;
border-color:tomato;
opacity: 0.8;
color: blue;
font-weight: bold; 
background-color: burlywood;
}

#correo{
height: 40px;
border: solid 3px;
border-color:tomato;
opacity: 0.8;
color: blue;
font-weight: bold; 
background-color: burlywood;
}

#edad{
height: 40px;
border: solid 3px;
border-color:tomato;
opacity: 0.8;
color: blue;
font-weight: bold;     
background-color: burlywood;
}

#direccion{
height: 40px;
border: solid 3px;
border-color:tomato;
opacity: 0.8;
color: blue;
font-weight: bold; 
background-color: burlywood;
}

#celular{
height: 40px;
border: solid 3px;
border-color:tomato;
opacity: 0.8;
color: blue;
font-weight: bold;     
background-color: burlywood;
}

#Registrarvisitante{
height: 40px;
border: solid 5px;
}

#ccabuscar{
height: 40px;
border: solid 3px;
border-color:tomato;
opacity: 0.8;
color: blue;
font-weight: bold;    
background-color: burlywood;
}

#nuevovalor{
height: 40px;
border: solid 3px;
border-color:tomato;
opacity: 0.8;
color: blue;
font-weight: bold; 
background-color: burlywood;
}

#Consultarvisitante{
height: 40px;
border: solid 5px;
}

#visitantes{
    color: blue;
    font-weight: bold; 
    background-color: burlywood;  
}

#modificarvisitante{
    height: 40px;
    border: solid 5px; 
}


#boton{
    font-family: 'b';
    font-size: 25px;
}
#nuevovalor{
    margin-top: 14px;
}