@font-face{
    font-family: 'b'; 
    src: url('fonts/font_formulario_2.ttf');
}

.lbl{
    font-size: 30px;
    margin-bottom: 13px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'b';
color:springgreen;
background-color:azure;

}
#p{
    font-family: 'b';
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    height: 40px;
    margin-bottom: 10px;
    background-color:azure;
    color:lightcoral;
}

 #zona{
    height: 40px;
    border: solid 4px;
    border-color:lightcoral;
    opacity: 0.8;
    color: navy;
    font-weight: bold;
 }

 #codigozoo{
 height: 40px;
border: solid 4px;
border-color:lightcoral;
opacity: 0.8;
color: navy;
font-weight: bold;
 }

 #nombre{
    height: 40px;
    border: solid 4px;
    border-color:lightcoral;
    opacity: 0.8;
    color: navy;
    font-weight: bold;
 }

 #descripcion{
    height: 40px;
    border: solid 4px;
    border-color:lightcoral;
    opacity: 0.8;
    color: navy;
    font-weight: bold;
 }

 #clima{
    height: 40px;
    border: solid 4px;
    border-color:lightcoral;
    opacity: 0.8;
    color: navy;
    font-weight: bold;
 }

 #especies{
    height: 40px;
    border: solid 4px;
    border-color:lightcoral;
    opacity: 0.8;
    color: navy;
    font-weight: bold;
 }

 #Registrarzona{
    height: 40px;
    border: solid 4px;
    border-color:springgreen;
    opacity: 0.8;
    color:black;
    font-weight: bold;
 }
#Registrarzona{
    font-family: 'b';
    font-size: 25px;
}
