@font-face{
    font-family: e; 
    src: url(fonts/font_formulario_5.TTF);
}

.lbl{
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 10px;
    font-family: e;
    color: rgb(71, 247, 79);
}

#p{
    font-family: e;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    height: 40px;
    margin-bottom: 10px;
    background-color:crimson;
    color: chartreuse;
}

   #codigo{
    height: 40px;
    border: solid 5px;
    border-color:cyan;
    opacity: 0.8;
    color:midnightblue;
    font-weight: bold;
    background-color:azure; 
   } 
    
#idanimal{
    height: 40px;
    border: solid 5px;
    border-color:cyan;
    opacity: 0.8;
    color:midnightblue;
    font-weight: bold;
    background-color:azure; 
}

#hora{
    height: 40px;
    border: solid 5px;
    border-color:cyan;
    opacity: 0.8;
    color:midnightblue;
    font-weight: bold;
    background-color:azure; 
}

#nombre{
    height: 40px;
    border: solid 5px;
    border-color:cyan;
    opacity: 0.8;
    color:midnightblue;
    font-weight: bold;
    background-color:azure; 
}

#descripcion{
    height: 40px;
    border: solid 5px;
    border-color:cyan;
    opacity: 0.8;
    color:midnightblue;
    font-weight: bold;
    background-color:azure; 
}

#Registrarcita{
    font-size: 30px;
    margin-top: 20px;
    background-color:crimson;
    color: chartreuse;
}
}
#boton{
    font-family: e;
    font-size: 25px;
}